/* all the global defination about entire project like reset thing,
font adjustment thing are written inside base file */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'Poppins'; }

/* classes that can be used on multiple times
like center-text, margin-bottom-large etc.
If there is a component or block that is independent 
and can be used anywhere across the project, and if it 
needed a slightly different style like margin bottom which 
is unique on a specific page, then we apply that different 
style through utility classes to make component reusable.
*/
.centered {
  width: 80%;
  margin: 0 auto; }

.full-bleed {
  width: 100%; }

.w-40 {
  width: 40% !important; }

.my-3 {
  margin-top: 30px;
  margin-bottom: 30px; }

.header {
  background-color: #f5f5f5;
  position: relative; }

.skills {
  transform: translateY(-7px);
  color: whitesmoke;
  background-color: #2c2c2c;
  padding: 3rem 0;
  position: relative; }
  .skills .content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .skills .content > * {
      flex-basis: 20%;
      text-align: center; }

.section-7 {
  text-align: center;
  background-color: #f5f5f5;
  padding: 2rem 0; }

.schnell-und {
  padding: 30px 0;
  background-color: #2c2c2c;
  color: white; }
  .schnell-und h1 {
    margin-bottom: 20px; }
  .schnell-und .items {
    display: flex; }
  .schnell-und__item > *:not(:last-child):not(:first-child) {
    margin-bottom: 20px; }
  .schnell-und__item .count {
    font-size: 100px;
    font-weight: 600;
    opacity: 0.5; }

.last {
  text-align: center; }
  .last .video {
    position: relative;
    background-image: url(../img/running-girl.png);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top; }
    .last .video__play {
      cursor: pointer;
      height: 70px;
      width: 70px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.3);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .last .video__play svg {
        height: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: white;
        opacity: 1; }
  .last__cards {
    display: flex; }

.nav-bar {
  display: flex;
  justify-content: space-between; }
  .nav-bar__logo {
    height: 50px; }
    .nav-bar__logo img {
      width: 100%;
      height: 100%; }
  .nav-bar ul {
    flex: 1;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center; }

.footer {
  color: white;
  background-color: #2c2c2c;
  font-weight: 200;
  font-size: 13px;
  line-height: 2; }
  .footer .container {
    padding: 30px 0;
    max-width: 1150px;
    margin: 0 auto; }
    .footer .container .bottom-nav {
      display: grid;
      grid-template-columns: repeat(4, 1fr); }
      .footer .container .bottom-nav ul li {
        list-style: none;
        cursor: pointer; }
      .footer .container .bottom-nav__placeholder {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        gap: 10px; }
        .footer .container .bottom-nav__placeholder .item {
          background-color: rgba(255, 255, 255, 0.2);
          display: flex;
          align-items: center;
          justify-content: center; }
        .footer .container .bottom-nav__placeholder--1 {
          grid-column: 1/2; }
        .footer .container .bottom-nav__placeholder--2 {
          grid-column: 2/3; }
        .footer .container .bottom-nav__placeholder--3 {
          grid-column: 1/3; }
    .footer .container hr {
      margin: 20px 0;
      opacity: 0.3; }
    .footer .container .social-links {
      display: flex;
      align-items: center; }
      .footer .container .social-links > *:not(:last-child) {
        margin-right: 20px; }
      .footer .container .social-links > * {
        cursor: pointer; }
      .footer .container .social-links__icon {
        fill: white;
        width: 20px;
        height: 20px; }
        .footer .container .social-links__icon:last-of-type {
          margin-right: 40px; }
        .footer .container .social-links__icon svg {
          width: 100%;
          height: 100%; }
      .footer .container .social-links__copyright {
        margin-left: auto;
        opacity: 0.7; }

.card {
  background-color: #f5f5f5;
  height: 350px;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-basis: 33.3333%;
  padding: 20px; }
  .card:not(:last-child) {
    margin-right: 20px; }
  .card > *:not(:last-child):not(:first-child) {
    margin-bottom: 10px; }
  .card .spacer {
    margin-bottom: auto !important; }
  .card__tag {
    color: currentColor; }
  .card__input-text {
    padding: 15px;
    width: 100%;
    background: transparent;
    color: white;
    font-size: 18px;
    border: 1px solid white; }
    .card__input-text::placeholder {
      color: whitesmoke; }
  .card__text {
    font-weight: 300; }
    .card__text--checkbox {
      width: 100%;
      justify-content: space-between;
      align-items: center;
      display: flex; }
      .card__text--checkbox input {
        display: none; }
  .card__input-checkmark {
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid white;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .card__input-check:checked ~ label .card__input-checkmark::after {
    content: "\2713"; }
  .card--blue {
    background-color: #1583fc;
    color: white; }

.btn {
  display: inline-block;
  text-decoration: none; }
  .btn-primary {
    padding: 1rem 1.5rem;
    border-radius: 100px;
    color: white;
    background-color: #1583fc; }
    .btn-primary--white {
      background-color: white;
      color: #1583fc; }
  .btn-inline {
    text-decoration: none;
    color: currentColor;
    border-bottom: 2px solid currentColor;
    align-self: flex-start; }

.textwithimage {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .textwithimage__text {
    width: 50%; }
    .textwithimage__text > *:not(:last-child) {
      margin-bottom: 3rem; }
    .textwithimage__text a {
      align-self: start; }
  .textwithimage__image .main-img {
    width: 70%;
    position: relative;
    z-index: 2; }
  .textwithimage__image .bg-img {
    position: absolute;
    top: 90px; }
    .textwithimage__image .bg-img img {
      width: 100%; }

.skill-item__circle {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  width: 8rem;
  border: 5px solid transparent;
  border-radius: 50%;
  background-image: radial-gradient(#2c2c2c, #2c2c2c), radial-gradient(circle at top left, #f00, #3020ff);
  background-origin: border-box;
  background-clip: content-box, border-box; }

.features {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center; }
  .features h1 {
    margin: 2rem 0; }
  .features p {
    font-weight: 200; }
  .features .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 5rem; }
    .features .grid__item {
      display: flex;
      flex-direction: column;
      text-align: start; }
      .features .grid__item img {
        height: 3rem;
        align-self: flex-start; }
      .features .grid__item p {
        margin: 1.5rem 0; }

.floating-image {
  position: absolute; }
  .floating-image--filled {
    top: 0;
    right: 0;
    transform: translate(50%, -50%); }
  .floating-image--outlined {
    bottom: 0;
    left: 0;
    transform: translate(-50%, -50%); }

.imagewithtext {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 4rem 0; }
  .imagewithtext p {
    font-weight: 200; }
  .imagewithtext__text {
    width: 50%; }
    .imagewithtext__text > *:not(:last-child) {
      margin-bottom: 30px; }
    .imagewithtext__text .box {
      display: flex; }

.gallery-1 {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  position: relative; }
  .gallery-1 .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    position: relative; }
    .gallery-1 .gallery .bgimg {
      position: absolute;
      bottom: 32px;
      right: -60px; }
    .gallery-1 .gallery__item {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: start;
      padding: 30px;
      height: 450px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      color: white;
      text-align: start; }
      .gallery-1 .gallery__item > *:not(:last-child) {
        margin-bottom: 20px; }
      .gallery-1 .gallery__item--1 {
        background-image: url(../img/purple-man.png); }
      .gallery-1 .gallery__item--2 {
        background-image: url(../img/orange-girl.png);
        transform: translateY(-30px); }
      .gallery-1 .gallery__item--3 {
        background-color: blue; }
      .gallery-1 .gallery__item--4 {
        display: flex;
        align-items: start;
        justify-content: center;
        color: black;
        font-size: 2.9rem;
        transform: translateY(-10px); }
        .gallery-1 .gallery__item--4 > * {
          margin-bottom: 0 !important; }
    .gallery-1 .gallery__quote {
      text-align: center;
      position: relative;
      z-index: 2; }
  .gallery-1 .list {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .gallery-1 .list__text {
      text-align: start; }
      .gallery-1 .list__text > *:not(:last-child) {
        margin-bottom: 2rem; }
      .gallery-1 .list__text ul > *:not(:last-child) {
        margin-bottom: 1rem; }
    .gallery-1 .list__item {
      list-style: none; }
      .gallery-1 .list__item::before {
        width: 1rem;
        height: 1rem;
        display: inline-block;
        margin-right: 7px;
        content: "";
        background-image: url(../icons/SVG/check.svg);
        background-size: cover; }
        @supports (-webkit-mask-image: url()) {
          .gallery-1 .list__item::before {
            background-color: green;
            -webkit-mask-image: url(../icons/SVG/check.svg);
            -webkit-mask-size: cover; } }

.paragraphs {
  display: table;
  text-align: start; }
  .paragraphs h1 {
    width: 70%; }
  .paragraphs p {
    margin-bottom: 2rem;
    font-size: 14px;
    font-weight: 300;
    margin-top: 2rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid lightgrey;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }

.slider {
  position: relative;
  text-align: center; }
  .slider .slides {
    height: 250px;
    position: relative; }
  .slider__slide {
    position: absolute;
    width: 100%;
    padding: 0 10rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .slider__user-name {
    font-size: 14px; }
  .slider__user-image img {
    width: 4rem;
    border-radius: 50%; }
  .slider .controls {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly; }
    .slider .controls__arrow {
      width: 2.5rem;
      height: 2.5rem; }
      .slider .controls__arrow img {
        width: 100%; }
    .slider .controls .dots {
      display: flex;
      align-items: center;
      justify-content: center; }
      .slider .controls .dots__item {
        margin: 0 5px;
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 50%;
        background-color: lightgrey; }
        .slider .controls .dots__item--active {
          transform: scale(1.2);
          background-color: blue; }

.second-grid {
  text-align: center;
  margin: 3rem 0; }
  .second-grid .grid {
    color: white;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(6, 1fr); }
    .second-grid .grid .content {
      width: 60%;
      text-align: start;
      position: absolute;
      top: 25%; }
      .second-grid .grid .content > *:not(:last-child) {
        margin-bottom: 10px; }
      .second-grid .grid .content--right {
        right: 5%; }
      .second-grid .grid .content--left {
        left: 5%; }
    .second-grid .grid__header-1 {
      background-color: #2c2c2c;
      grid-column: 1/4;
      text-align: start;
      padding: 10px 20px; }
      .second-grid .grid__header-1 p {
        margin-top: 100px;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 30px;
        background-image: linear-gradient(to right, #ff4204, #f51bf6); }
    .second-grid .grid__header-2 {
      position: relative;
      grid-column: 4/7;
      background-image: url(../img/blue-phn.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .second-grid .grid__main {
      grid-column: 1/5;
      background-color: #fc5500;
      position: relative; }
    .second-grid .grid__sidebar {
      grid-column: 5/7;
      font-size: 2.9rem;
      padding: 15px 30px;
      color: #2c2c2c;
      font-weight: 600;
      text-align: start; }
    .second-grid .grid__box-content {
      padding: 30px;
      text-align: start; }
    .second-grid .grid__box-1 {
      color: #2c2c2c;
      grid-column: 1/3; }
    .second-grid .grid__box-2 {
      color: white;
      grid-column: 3/5; }
    .second-grid .grid__box-3 {
      color: white;
      grid-column: 5/7; }

.progress {
  border: none;
  height: 5px;
  border-radius: 100px;
  width: 100%; }
  .progress--white::-webkit-progress-bar {
    background-color: #63a0ef; }
  .progress--white::-webkit-progress-value {
    background: white; }
  .progress--white::-moz-progress-bar {
    background: white; }
  .progress--gradient::-webkit-progress-bar {
    background-color: #dcdcdc; }
  .progress--gradient::-webkit-progress-value {
    background: linear-gradient(to right, #ff4204, #f51bf6); }
  .progress--gradient::-moz-progress-bar {
    background: linear-gradient(to right, #ff4204, #f51bf6); }

.kategon {
  display: flex;
  justify-content: space-between; }

.gradient-container {
  padding: 30px 0;
  background-image: linear-gradient(to right, #ff4204, #f51bf6);
  color: white; }
  .gradient-container .centered {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.third-grid .centered img {
  transform: scale(1.3); }

.third-grid .centered div:nth-child(2) {
  flex-direction: row-reverse; }

.section-accordion {
  text-align: center; }
  .section-accordion .accordion-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px; }
    .section-accordion .accordion-container .accordion__item {
      text-align: start;
      transition: all 0.3s;
      padding: 30px;
      background-color: #f5f5f5;
      gap: 20px;
      overflow: hidden; }
      .section-accordion .accordion-container .accordion__item:not(:last-child) {
        margin-bottom: 10px; }
      .section-accordion .accordion-container .accordion__item--active {
        color: white;
        background-color: #1583fc;
        height: max-content; }
        .section-accordion .accordion-container .accordion__item--active .accordion {
          font-weight: 600;
          font-size: 17px; }
    .section-accordion .accordion-container .accordion__item__header {
      display: flex;
      align-items: start;
      justify-content: space-between; }
      .section-accordion .accordion-container .accordion__item__header .icon {
        width: 20px;
        height: 20px; }
        .section-accordion .accordion-container .accordion__item__header .icon svg {
          width: 100%;
          height: 100%;
          fill: currentColor; }
    .section-accordion .accordion-container .accordion hr {
      margin: 30px 0; }
    .section-accordion .accordion-container .accordion__item__body {
      font-weight: 300; }
      .section-accordion .accordion-container .accordion__item__body p {
        margin: 30px 0; }
    .section-accordion .accordion-container .accordion__item__footer {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .section-accordion .accordion-container .contact-info {
      display: flex;
      text-align: start;
      flex-direction: column;
      width: 70%; }
      .section-accordion .accordion-container .contact-info hr {
        margin: 20px 0; }
      .section-accordion .accordion-container .contact-info__contact-person .image {
        height: 100px;
        width: 100px;
        margin-bottom: 15px; }
        .section-accordion .accordion-container .contact-info__contact-person .image img {
          border-radius: 50%;
          height: 100%; }
      .section-accordion .accordion-container .contact-info__contact-person .username {
        margin-top: 30px; }
      .section-accordion .accordion-container .contact-info__box {
        align-items: center;
        gap: 10px;
        display: grid;
        grid-template-columns: min-content 1fr; }
      .section-accordion .accordion-container .contact-info__tag {
        grid-column: 1/-1;
        font-size: 14px; }
      .section-accordion .accordion-container .contact-info__icon {
        width: 30px;
        height: 30px; }
        .section-accordion .accordion-container .contact-info__icon img {
          width: 100%;
          height: 100%;
          object-fit: contain; }
      .section-accordion .accordion-container .contact-info__heading {
        font-size: 18px;
        font-weight: 600; }
      .section-accordion .accordion-container .contact-info__faded {
        grid-column: 2/3;
        opacity: 0.5; }
