.section-accordion {
  text-align: center;
  .accordion-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    @media only screen and (max-width: 600px) {
      grid-template-columns: none;
      justify-items: center;
    }
    gap: 4rem;
    .accordion {
      &__item {
        box-shadow: 0 5px 15px 0 rgba(31, 38, 135, 0.37);
        text-align: start;
        transition: all 0.3s;
        padding: 3rem;
        background-color: #f5f5f5;
        gap: 2rem;
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
        overflow: hidden;
        &--active {
          color: white;
          background-color: $blue;
          height: max-content;

          .icon {
            svg {
              transform: rotate(180deg);
            }
          }
        }
      }
      &__item__header {
        display: flex;
        align-items: start;
        justify-content: space-between;
        font-size: 1.6rem;
        .icon {
          width: 3rem;
          height: 3rem;
          svg {
            width: 100%;
            height: 100%;
            fill: currentColor;
            transition: all 0.3s;
          }
        }
      }
      hr {
        margin: 3rem 0;
      }
      &__item__body {
        // width: 85%;
        font-weight: 300;
        font-size: 1.4rem;
        height: 0;
        overflow: hidden;
        transition: height 0.3s;
        p {
          margin: 3rem 0;
        }
      }
      &__item__footer {
        font-size: 1.3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: 400px) {
          flex-direction: column;
          align-items: start;
        }
      }
    }

    .contact-info {
      display: flex;
      text-align: start;
      flex-direction: column;
      width: 70%;
      hr {
        margin: 2rem 0;
      }
      &__contact-person {
        .image {
          height: 10rem;
          width: 10rem;
          margin-bottom: 1.5rem;
          img {
            border-radius: 50%;
            height: 100%;
          }
        }
        .username {
          margin-top: 3rem;
          font-size: 1.4rem;
        }
        .quote {
          font-size: 1.4rem;
        }
      }
      &__box {
        align-items: center;
        gap: 1rem;
        display: grid;
        grid-template-columns: min-content 1fr;
      }
      &__tag {
        grid-column: 1/-1;
        font-size: 1.2rem;
      }
      &__icon {
        width: 3rem;
        height: 3rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      &__heading {
        font-size: 1.8rem;
        font-weight: 600;
      }
      &__faded {
        grid-column: 2/3;
        opacity: 0.5;
        font-size: 1.5rem;
      }
      //   background-color: black;
    }
  }
}
