.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  &-primary {
    padding: 10px 20px;
    border-radius: 100px;
    color: white;
    background-color: $blue;
    &--white {
      background-color: white;
      color: $blue;
    }
    &--sm {
      padding: 7px 15px;
      font-size: 14px;
    }
  }
  &-inline {
    text-decoration: none;
    color: currentColor;
    border-bottom: 2px solid currentColor;
    align-self: flex-start;
  }
}
