.features {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
  h1 {
    margin: 2.6rem 0;
    font-size: 2.4rem;
  }
  p {
    font-weight: 200;
    font-size: 1.6rem;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 8rem;
    &__item {
      display: flex;
      flex-direction: column;
      text-align: start;
      img {
        height: 3rem;
        align-self: flex-start;
      }
      p {
        margin: 2.4rem 0;
      }
    }
  }
}
