.floating-image {
  position: absolute;
  &--filled {
    top: 0;
    right: 0;
    // transform: translate(50%, -50%);
    width: 12rem;
    height: 12rem;
    img {
      width: 100%;
    }
  }
  &--outlined {
    transform: translate(-50%, -50%);
    width: 25rem;
    height: 25rem;
    img {
      width: 100%;
    }
  }
}
