.textwithimage {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__text {
    width: 50%;
    & > *:not(:last-child) {
      margin-bottom: 4rem;
    }
    a {
      align-self: start;
    }
    h1 {
      font-size: 2.4rem;
    }
    p {
      font-size: 1.6rem;
    }
  }
  &__image {
    .main-img {
      width: 70%;
      position: relative;
      z-index: 2;
    }
    .bg-img {
      position: absolute;
      top: 90px;
      img {
        width: 100%;
      }
    }
  }
}
