.textwithimage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media only screen and (max-width: 500px) {
    flex-direction: column;
    .textwithimage__text {
      width: 100%;
    }
    .textwithimage__image {
      .main-img {
        width: 50%;
      }
      .bg-img {
        top: 150px;
      }
    }
  }

  &__text {
    width: 50%;
    & > *:not(:last-child) {
      margin-bottom: 4rem;
    }
    a {
      align-self: start;
    }
    h1 {
      font-size: 2.4rem;
    }
    p {
      font-size: 1.6rem;
    }
  }
  &__image {
    .main-img {
      width: 70%;
      position: relative;
      z-index: 2;
    }
    .bg-img {
      position: absolute;
      top: 90px;
      img {
        width: 100%;
      }
    }
  }
}
