// all typography related code like heading, paragraph, span etc
.heading-primary {
  font-size: 26px;
}

.big-text {
  font-size: 60px;
}

.heading-secondary {
  font-size: 24px;
}

.heading-tertiary {
  font-size: 19px;
}
