/* classes that can be used on multiple times
like center-text, margin-bottom-large etc.
If there is a component or block that is independent 
and can be used anywhere across the project, and if it 
needed a slightly different style like margin bottom which 
is unique on a specific page, then we apply that different 
style through utility classes to make component reusable.
*/

.centered {
  width: 80%;
  max-width: 1439px;
  margin: 0 auto;

  @media only screen and (max-width: 900px) {
    width: 100%;
    padding: 0 2rem !important;
  }
}

.full-bleed {
  width: 100%;
}

.w-40 {
  width: 40% !important;
}

.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mb-5 {
  margin-bottom: 5rem;
}
